* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerNav {
    width: 1200px;
    display: flex;
}

.headerNav a {
    padding: 16px 30px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

#hero {
    width: 100%;
    height: 550px;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_text_button_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.hero_button_wrap {
    display: flex;
    justify-content: center;
}

.hero_text_button_wrap h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

.hero_text_button_wrap button {
    margin: 20px 10px;
}

#vaccine {
    width: 100%;
    background: lightgray;
    display: flex;
    justify-content: center;
}

.vaccine_wrap {
    padding: 30px;
    display: flex;
    width: 1200px;
}

.vacine_title {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 40px;
}

.vaccine_wrap_para {
    font-size: 18px;
    line-height: 1.5;
}

.vaccineButton {
    margin-top: 20px;
    background: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    font-weight: 600;
    width: 180px;
}

#aboutUsContainer {
    width: 100%;
    /* height: 400px; */
    display: flex;
    justify-content: center;
}

#aboutUsContainer .about_wrap {
    width: 1200px;
    display: flex;
}

.para_button {
    margin-left: 40px;
}

.about_wrap div {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.about_wrap div h2 {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
}

.about_wrap div p {
    line-height: 1.7;
    text-align: center;
}

.about_wrap button {
    margin: 25px auto 10px auto;
}

footer {
    width: 100%;
    background: black;
    text-align: center;
}

footer p {
    color: white;
    align-items: center;
    padding: 10px;
}